.customRow{
  min-height: 87vh !important;
}


.tagline{
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3) !important;
  font-size:  35px !important;
  color: #3C99DC;
  line-height: 40px;
  font-weight: bold;
}

.certified{
  text-decoration-line: underline
}

.phil{
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3) !important;
  font-size:  25px !important;
  color: #D5F3FE;
  line-height: 40px;
}

.landingHero{
  background: rgba(0,0,0,0.7) !important;
  border-radius: 5px;


}