
.customMenu{
    border-radius: 0rem !important;
    background: rgba(0,0,0,0.85) !important;
    font-size:  1.3em !important;

}

.customMenuContact{
  font-size : 1.3em !important;
  background-color: rgba(147,155,98,.80) !important;
  padding: 0 em !important;
}

.customMenuSelected{

    background-color: lightgray !important;
    
    
}


.customRow{
    padding: 0rem !important;
  }
  
.customColumn{
    padding: 0rem !important;
  
  }