
.customMenu{
    border-radius: 0rem !important;
    background: rgba(0,0,0,0.85) !important;

}

.customMenuSelected{

    background-color: lightgray !important;
    
    
}


.customRow{
    padding: 0rem !important;
  }
  
.customColumn{
    padding: 0rem !important;
  
  }